<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<title>SBMPTN</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
	<script th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">SBMPTN</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li class="active"><a th:href="'/'">Home</a></li>
	      <li><a th:href="'/univ'">Universitas</a></li>
	    </ul>
	  </div>
	</nav>
	
	 <div class="container" style="margin-top:50px">

		<div class="starter-template">
			<h1 class="page-header">Pengumuman SBMPTN</h1>
	
			<form action="#" th:action="@{/pengumuman/submit}" th:object="${peserta}" method="post" class="form-horizontal">
				<!--  <div>
					<label for="npm">Nama Supplier </label> <input type="text" readonly="true" name="npm" th:field="*{npm}"/>
				</div>-->
				<div  class="form-group">
					<label for="nomor">Masukkan nomor peserta anda: </label> 
					<input type="text" name="nomor" class="form-control" required="true" style="width:400px"/>
				</div>
				
				<div class="form-group">
				   <button type="submit" name="action" value="Submit" class="btn btn-success">Submit</button>
				</div>
			</form>
				
		</div>
	</div>
	
</body>

</html>

