<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Prodi Tidak Ditemukan</title>
    	
    	<!--  <link rel="stylesheet" type="text/css" th:href="@{/style/main.css}" />-->
    	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    	<script th:src="@{/js/bootstrap.min.js}"></script>
    	
    </head>
    <body>
    	<nav class="navbar navbar-inverse navbar-fixed-top">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">SBMPTN</a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li><a th:href="'/'">Home</a></li>
	      	  <li><a th:href="'/univ'">Universitas</a></li>
		    </ul>
		  </div>
		</nav>
    	
    	
    <div class="container" style="margin-top:50px">

		<div class="starter-template">
			<h1>Error</h1>
			<h3 th:text="'Maaf, prodi dengan kode ' + ${kode_prodi}+' tidak ditemukan'">Message</h3>
		</div>	
	</div>	
    </body>
    
    
</html>
