<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Detail Peserta</title>
    	
    	<!--  <link rel="stylesheet" type="text/css" th:href="@{/style/main.css}" />-->
    	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    	<script th:src="@{/js/bootstrap.min.js}"></script>
    	
    </head>
    <body>
    	<nav class="navbar navbar-inverse navbar-fixed-top">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">SBMPTN</a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li><a th:href="'/'">Home</a></li>
	      	  <li><a th:href="'/univ'">Universitas</a></li>
		    </ul>
		  </div>
		</nav>
    	
    	
    <div class="container" style="margin-top:50px">

		<div class="starter-template">
			<h1 th:text="'Detail Peserta '+ ${peserta.nomor}">Detail Peserta</h1>
			
			<table class="table" cellspacing="0" width="100%" style="border-top:1px">
				<tbody>
					<tr>
						<td>Nomor</td>
						<td>:</td>
						<td th:text="${peserta.nomor}">Nomor Peserta</td>
					</tr>
					<tr>
						<td>Nama</td>
						<td>:</td>
						<td th:text="${peserta.nama}">Nama Peserta</td>
					</tr>
					<tr>
						<td>Tanggal Lahir</td>
						<td>:</td>
						<td th:text="${peserta.tgl_lahir}">Tanggal Lahir</td>
					</tr>
					<tr>
						<td>Umur</td>
						<td>:</td>
						<td th:text="${peserta.umur}">Umur</td>
					</tr>
				</tbody>
			</table>
						
		</div>

	</div>
	<!-- /.container -->
    	
		
    </body>
    
    
</html>
