<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Daftar Prodi</title>
    	
    	<!--  <link rel="stylesheet" type="text/css" th:href="@{/style/main.css}" />-->
    	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    	<script th:src="@{/js/bootstrap.min.js}"></script>
    	
    </head>
    <body>
    	<nav class="navbar navbar-inverse navbar-fixed-top">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">SBMPTN</a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li><a th:href="'/'">Home</a></li>
	      	  <li><a th:href="'/univ'">Universitas</a></li>
		    </ul>
		  </div>
		</nav>
    	
    	
    <div class="container" style="margin-top:50px">

		<div class="starter-template">
		  <h1 th:text="${prodi.kode_univ} + ' - '+ ${prodi.nama_univ}">Nama Universitas</h1>
		  <a th:text="${prodi.url_univ}"> Url Universitas</a>
			
			<h3  style="margin-top:50px">Daftar Peserta</h3>
			<h4  th:text="'Peserta Tertua: '+ ${prodi.peserta_oldest.nomor}+' - '+ ${prodi.peserta_oldest.nama}+', '+${prodi.peserta_oldest.umur}+ ' tahun'">Peserta Tertua</h4>
			<h4  style="margin-bottom:30px" th:text="'Peserta Termuda: '+ ${prodi.peserta_youngest.nomor}+' - '+ ${prodi.peserta_youngest.nama}+', '+${prodi.peserta_youngest.umur + ' tahun'}">Peserta Termuda</h4>
			<table  class="table table-striped table-bordered" cellspacing="0" width="100%">
				<thead>
					<th>Nomor Peserta</th>
					<th>Nama Peserta</th>
					<th>Menu</th>
				</thead>
				<tbody>
					<tr th:each="peserta,iterationStatus: ${prodi.peserta}">
						<td><a th:text="${peserta.nomor}" >Nomor peserta</a></td>
						<td th:text="${peserta.nama}">Nama peserta</td>
						<td>
							<span>
								<a th:href="'/peserta/' + ${peserta.nomor}" class="btn btn-primary"> Lihat Detail</a><br/>
	       					</span>
	       				</td>
					</tr>
				</tbody>
			</table>
						
		</div>

	</div>
	<!-- /.container -->
    	
		
    </body>
    
    
</html>
