<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Daftar Universitas</title>
    	
    	<!--  <link rel="stylesheet" type="text/css" th:href="@{/style/main.css}" />-->
    	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    	<script th:src="@{/js/bootstrap.min.js}"></script>
    	
    </head>
    <body>
    	<nav class="navbar navbar-inverse navbar-fixed-top">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">SBMPTN</a>
		    </div>
		    <ul class="nav navbar-nav">
		      	<li><a th:href="'/'">Home</a></li>
	      		<li class="active"><a th:href="'/univ'">Universitas</a></li>
		    </ul>
		  </div>
		</nav>
    	
    	
    <div class="container" style="margin-top:50px">

		<div class="starter-template">
			<h1 th:text="${univ.kode_univ} + ' - '+ ${univ.nama_univ}">Nama Universitas</h1>
			<a th:text="${univ.url_univ}"> Url Universitas</a>
			<div style="margin-top:30px">
				<a th:href="'/univ/peserta/' + ${univ.kode_univ}" class="btn btn-primary"> Lihat Peserta</a><br/>
    		</div>
			
			<h3  style="margin-top:30px">Daftar Prodi</h3>
			<table  class="table table-striped table-bordered" cellspacing="0" width="100%">
				<thead>
					<th>ID</th>
					<th>Nama</th>
					<th>Menu</th>
				</thead>
				<tbody>
					<tr th:each="prodi,iterationStatus: ${univ.prodi}">
						<td><a th:text="${prodi.kode_prodi}" >Kode prodi</a></td>
						<td th:text="${prodi.nama_prodi}">Nama Prodi</td>
						<td>
							<span>
								<a th:href="'/prodi/' + ${prodi.kode_prodi}" class="btn btn-primary"> Lihat Detail</a><br/>
	       					</span>
	       				</td>
					</tr>
				</tbody>
			</table>
						
		</div>

	</div>
	<!-- /.container -->
    	
		
    </body>
    
    
</html>
